@charset "UTF-8";


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'nocturne', sans-serif;
}

a{
    text-decoration: none;
}

.header{
    background-color: var(--cinzao);
    padding-inline: 16px;
}

.nav{
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
}